* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f9ffff;
}
body a{
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}
/* Header/Blog Title */
.top{
  height: 100%;
  width: 100%;
  background: #0072e9;
}
.header {
  padding: 5px;
  background: #0072e9;
  display: flex;
  height : 100%;
  max-width: 1200px;
  margin: auto;
  
}

.headerlogo {
    float : left;
    width: 25%;
    height: 100%;
}

.social{
  float : left;
  width: 75%;
  display: block;
 
}

.nav{
    position: absolute;
    top: 85px;
    right: 30px;
}

.nav li  {
    display: inline-block;
    color: #070010;
    text-align: center;
    text-decoration: none;
    list-style: none outside none;

}

.contacts  li {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    list-style: none outside none;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0;
    
   
    
}
.header a {
     text-decoration: none;
     text-align: center;
     
}
.nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #070010;
}

.nav a:hover {
  background-color: #0042ab;
  color: #070010;
}

.contacts {
  list-style: none outside none;
  float: right;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: 400;
}
.contacts li {
  margin-bottom: 0.25rem;
  margin-right: 1em;
}

.contacts li:before {
  display: none;
}
.contacts li a {
  color: #070010;
  transition: color 0.2s ease-in-out;
}
.contacts li a.link:hover {
  color: #3b5998;
}

.contacts li a .icon {
  fill: currentColor;
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.row {
    max-width: 1200px;
    margin: auto;
    /*height: 100%;*/ 
     overflow: hidden;
    display: table;
    background-color: 	#f9ffff;
    /*flex-wrap:wrap;*/

    
    
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  display: table-cell;
  height: 100%;
  background-color: #0072e9;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-bottom: 99999px; margin-bottom: -99999px;
}

/* Right column */

.rightcolumn {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  display: table-cell;
  width: 25%;
  height: 100%;
  background-color: #0072e9;
  padding-top: 5px;
   color: #f9ffff;
   padding-bottom: 99999px; margin-bottom: -99999px;
}

.aside {
    padding: 20px;

}


.aside p{
   
    text-align: justify;
}

/* Fake image */
.asideimg {
   width: 100%;
   
  }

  .archive{
    
    float: left;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
   font-size: 0.9em;
   font-weight: 400;
  }
.archive h3{
  padding-left: 50px;
}
.archive li {
 
  list-style: none outside none;
  margin-bottom: 0.25rem;
  margin-right: 1em;
  padding: 5px;
}
.archive li:before {
  display: none;
}
.archive li a {
  color: #f9ffff;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.archive li a:hover {
  color: 		#0042ab;
 
}

.icons{
  float:right;
}
/* Add a card effect for articles */
.card {
  background-color: #ddf6fa;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px;
  float: left;
  width: 33.3%;
  display: block;
  text-align: justify;
  color: 	#070010;
}
.card h1{
    text-align: center;
}
.card img{
    width: 100%;
    height:200px;
}
.card a{
  text-decoration: none;
  color: #070010;
 
}
.card a:hover{
  text-decoration: none;
  color: #0042ab;
 
}
.nav a:hover {
   color: #070010;
}
.info p{
    font-size: 0.9em;
    font-weight: 100;
    text-align: right;
    padding: 10px;
    color: #070010;

}

.info img {
  height: 30px;
  width: auto;
}

.info svg{
  height: 40px;
  width: auto;
  margin: 0;
  padding: 0;
  float: right;
}
.checked {
  color: orange;
}

.rate {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.comment img{
  height: 18px;
  width: 18px;
  
}
.comment span{
  color: #070010;
  font-size: 0.9em;
  
}
.search {
  padding: 10px;
  margin-top: 20px;
  text-align: right;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
 }

/* Footer */

.bottom{
  height: 100%;
  width: 100%;
  background: #0042ab;
}
.footer {
  padding: 10px;
  margin: auto;
  width: 1200px;
  height: 100%;
  background: #0042ab;
  margin-top: 10px;
  display: table;
  position: bottom;
 
}

.footerimg {   
  float: left;
  width: 20%;
  height: auto;
  color: #f9ffff;
  }

.copyrights {
  text-align: left;
  
}
/* Right column */
.rightpart {
  float: left;
  width: 40%;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  color:  #f9ffff;;
    
}

.footersocial {
  float: left;
  display: block;
  width: 40%;
  height: 100%;
  padding-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    margin:auto;
  }
}

@media screen and (max-width: 800px) {
  .leftcolumn {   
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .card {   
    width: 50%;
    padding: 10px;
    margin:auto;
    display: block;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.top, .header {
  padding: 1px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  }

}

@media screen and (max-width: 800px) {
.footer {
  padding: 1px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  position: bottom;
  }

}

@media screen and (max-width: 800px) {
  .footersocial {
  float: right;
  display: block;
  width: 10%;
  height: 100%;
  padding-top: 10px;
}
    
  }

@media screen and (max-width: 800px) {
.rightpart {
  float: left;
  width: 60%;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  color: blue;
    
}
}
@media screen and (max-width: 800px) {
.footer img {   
  float: left;
  width: 100%;
  height: auto;
  }
}

@media screen and (max-width: 500px) {
  .leftcolumn, .card {   
    width: 100%;
    padding: 10px;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
.header  {
    width: 100%;
    height: 305px;
    display: table;
}
}
@media screen and (max-width: 400px) {
.headerlogo {
    width: 100%;
    height: 120px;
    padding: 10;
    margin:auto;
}
}
@media screen and (max-width: 400px) {
 img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
}


@media screen and (max-width: 400px) {
 .social {
    width: 100%;
    
   }
}

@media screen and (max-width: 400px) {
 .nav {
    position: absolute;
    top:175px;
    width: 100%;
   }
}

@media screen and (max-width: 400px) {
.nav li{
    float: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px; 
}
}
@media screen and (max-width: 400px) {
.nav a {
  text-align: center;
  padding: 14px calc(50% - 30px);
  margin: auto;
}
}